<div ng-show="visible" class="ingredient-chooser-wrapper">
	<div class="bg" ng-click="close()"/>
	<div class="ingredient-chooser">

		<header class="search">
			<input type="text" class="filter-text" ng-model="filterText"/>

			<div class="button-wrapper">
				<button class="meta remove form-button" ng-click="close()">X</button>
			</div>
			<ul class="filters">
				<li>
					<input id="typeFilters-fermentable" type="checkbox" ng-model="typeFilters.fermentable"/>
					<label for="typeFilters-fermentable">Fermentables</label>
				</li>
				<li>
					<input id="typeFilters-hops" type="checkbox" ng-model="typeFilters.hop"/>
					<label for="typeFilters-hops">Hops</label>
				</li>
				<li>
					<input id="typeFilters-others"type="checkbox" ng-model="typeFilters.other"/>
					<label for="typeFilters-others">Others</label>
				</li>
				<li>
					<input id="typeFilters-yeasts" type="checkbox" ng-model="typeFilters.yeast"/>
					<label for="typeFilters-yeasts">Yeasts</label>
				</li>
			</ul>
		</header>

		<ul class="listItem-list">
			<li ng-repeat="ingredient in ingredients" ng-show="ingredient.show" ng-click="setIngredient(ingredient)">
					<div ng-if="ingredient.type === 'fermentable'" ng-include="'recipe/build/ingredient/fermentable-simplified.html'" />
					<div ng-if="ingredient.type === 'hop'" ng-include="'recipe/build/ingredient/hop-simplified.html'" />
					<div ng-if="ingredient.type === 'yeast'" ng-include="'recipe/build/ingredient/yeast-simplified.html'" />
					<div ng-if="ingredient.type === 'other'" ng-include="'recipe/build/ingredient/other-simplified.html'" />
			</li>
		</ul>
	</div>
</div>
